{% extends 'base.html.twig' %}

{# {% block stylesheets %}
    {{ vite_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ vite_entry_script_tags('app') }}

    
    {{ vite_entry_script_tags('app', { dependency: 'react' }) }}
{% endblock %} #}

{% block body %}
    <div {{ react_component('Hello', { fullName: 'Fabien' }) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>

    {# Component living in a subdirectory: "assets/react/controllers/Admin/OtherComponent" #}
    <div {{ react_component('Hello', { fullName: 'hi' }) }}></div>
{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ importmap('app') }}
        {# {{ importmap('@hotwired/stimulus') }} #}
        {# {{ importmap('@symfony/ux-react') }} #}
        {# {{ importmap('react') }} #}
        {# {{ importmap('react-dom') }} #}
    {% endblock %}
{% endblock %}